# Ignore python environments
__pycache__/
venv/
pyenv/

# Ignore Jupyter Notebooks
.ipynb_checkpoints/

# Ignore virtualenv
.env/

# Ignore conda environments
.conda/
environment.yml

# Ignore node_modules
node_modules/

# Ignore the generated CSS build
app/src/css/output.css

# Ignore IntelliJ / PyCharm Config Files
.idea/

# ignore SQLite DB
*.sqlite3

# Ignore graphs generated on runtime
graphs/*.html
