{% extends "base.html" %}

{% block title %} MyPath {% endblock title %}

{% block content %}
    <!-- Navigation bar styled with tailwindcss and daisyui with a search bar -->
    <div id="navbar-container">
        <!-- Navbar will be loaded here -->
        {% include 'pages/components/navbar-default.html' %}
    </div>

    <div>
        {% include 'pages/components/command-palette.html' %}
    </div>

    <div class="container mx-auto px-4 py-10" >
        <div class="container" id="main-view">
        {% block main_page %}
            <!-- Greeting and Overview -->
            <h1 class="text-4xl font-bold text-base-content mb-6">{% if user %}Hello {{ user.username }}
                , {% endif %}</h1>
            {% if user %}
                <p class="text-lg text-base-content mb-8">
                    Here's an overview of attendance and Moodle interactions in courses that are of interest to you
                </p>

                <!-- Chart Section -->
                <div class="card bg-neutral-content shadow-xl mb-4">
                    <div class="card-body">
                        <h2 class="card-title text-2xl text-base-content">
                            Mathematics 2T: Topics in Discrete Mathematics
                        </h2>
                        <p class="text-neutral">
                            Moodle interactions in session 2023/2024
                        </p>
                        {% include 'pages/components/graph-selector.html' %}
                    </div>
                </div>


                <!-- Information Sections -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <!-- Your Advisees -->
                    <div class="card bg-neutral-content shadow-xl p-4">
                        <div class="card-body">
                            <h3 class="card-title text-xl text-base-content mb-4">Your{% if user.user_type=='student'%} Advisor{%else%} Advisees{%endif%}</h3>
                            <div role="alert" class="alert alert-error">
                                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
                                </svg>
                                <span>Warning: No advisees found!</span>
                            </div>
                        </div>
                    </div>

                    <!-- Your Courses -->
                    <div class="card bg-neutral-content shadow-xl p-4">
                        <div class="card-body">
                            <h3 class="card-title text-xl text-base-content mb-4">Your Courses</h3>
                            <div role="alert" class="alert alert-error">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    class="stroke-current shrink-0 w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                <span>No courses found. . .</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% if user.user_type != 'student' %}
                <!-- Students needing support -->
                <div class="card bg-neutral-content shadow-xl my-6 p-4">
                    <div class="card-body">
                        <h3 class="card-title text-xl text-base-content mb-4">Students needing support</h3>
                        <div hx-get="{{url_for('list_view', type='students').include_query_params(view_rows=3, sort_by='support')}}"
                            hx-trigger="intersect" hx-select="#student-table" hx-swap="innerHTML">
                        </div>
                    </div>
                </div>
                {% endif %}
                <br>
                <!-- Data updated info -->
                <div role="alert" class="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        class="stroke-info shrink-0 w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                    <!-- TODO: Add dynamic update of date -->
                    <span>Data updated: <span class="badge badge-outline badge-success badge-lg">14</span> days ago.</span>
                </div>
            {% else %}
                <div class="hero h-full rounded-2xl bg-base-200">
                    <div class="hero-content text-center">
                        <div class="max-w-3xl">
                            <h1 class="text-5xl font-bold pb-5">Welcome to MyPath</h1>
                            <div role="alert" class="alert alert-error">
                                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                <span>You may have been signed out due to inactivity or by accessing this site in an unexpected way. To access the full features of this site, you must be authenticated with Shibboleth/SSO.</span>
                            </div>
                            <!-- Include any additional elements like buttons if needed -->
                            <div class="pt-5">
                                <a href="/user/1"
                                class="btn btn-primary btn-md text-base-100">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"></path>
                                    </svg>

                                    Login with Shibboleth</a>
                            </div>
                        </div>
                    </div>

                </div>
            {% endif %}
            {% endblock main_page %}
        </div>
    </div>
{% endblock content %}
