<div class="overflow-x-auto bg-base-100 rounded-box">
    <table class="table outline-primary" id="student-table">
        <!-- head -->
        <thead>
          <tr>
            <th></th>
            {% for column in ['Name', 'Year', 'Branch', 'Advisor', 'School', 'Support'] %}
              <th class="text-lg">
                {{column}}
                <label class="swap swap-flip text-sm" >
                  <!-- this hidden checkbox controls the state -->
                  <input type="checkbox" hx-get="{{url_for('list_view', type='students').include_query_params(view_rows=view_rows,view_page=view_page, sort_by=column.lower(), invert=invert)}}"
                  hx-target="#main-view" hx-swap="innerHTML" hx-trigger="click"/>
                  <div class="swap-on" >⬆️</div>
                  <div class="swap-off">⬇️</div>
                </label>
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for student in students %}

            <tr class="hover">

            <th>{{student.id}}</th>
            <td><a href="{{url_for('student_view', id=student.id)}}">{{student.name}}</a></td>
            <td>{{student.year}}</td>
            <td>{{student.branch}}</td>
            <td>{{student.advisor}}</td>
            <td>{{student.school}}</td>
            {% if student.support == 'Yes' %}
              <td class="text-error">{{student.support}}</td>
            {% else %}
              <td class="text-success">{{student.support}}</td>
            {% endif %}
          </tr>

        {% endfor %}
      </table>
  </div>
