<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="htmx-config" content='{"includeIndicatorStyles": false}' />

    <title>{% block title %}Web Page for MyPath{% endblock title %}</title>

    <link rel="stylesheet" href="{{ url_for('static', path='css/output.css') }}" />
    <script src="{{ url_for('static', path='js/htmx.min.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/class-tools.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='images/favicon.ico') }}" />

    {% block head_extra %}{% endblock head_extra %}
  </head>
  <body data-theme="myPathLight">
    {% block content %}{% endblock content %}

    <!-- Implement the Back Top Top Button -->
    <div class="flex flex-row">
      <button id="to-top-button" onclick="goToTop()" title="Go To Top"
      class="hidden fixed z-90 bottom-3 right-0 border-0 w-12 h-12 rounded-full drop-shadow-md bg-primary bg-outline text-white text-2xl font-bold">&uarr;</button>

      <!-- Feedback Button and Modal -->
      <button class="btn btn-md btn-primary rounded-full fixed bottom-3 right-14 text-base-100" onclick="feedback_modal.showModal()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" />
        </svg>

        Feedback
      </button>
    </div>

    <dialog id="feedback_modal" class="modal">
      <div class="modal-box w-11/12 max-w-xl max-h-2xl">
        <h1 class="font-bold text-2xl mb-2">MyPath Feedback</h1>
        <p class="text-base-content">Please give feedback and report bugs using the form below. The developers of MyPath will be notified of your report and will aim to resolve it as soon as possible.</p>
        <div class="modal-action">
          <form method="dialog">
            <button class="btn btn-sm btn-circle btn-error btn-outline absolute right-2 top-2">✕</button>
          </form>
        </div>
        <div class="divider divider-ghost"></div>
        <div class="flex flex-col">
          <input type="text" placeholder="Subject*" class="input input-bordered input-primary justify-center w-full max-w-xl mb-4 mt-2" />
          <textarea class="textarea textarea-bordered textarea-primary justify-between" placeholder="Comments*"></textarea>
          <label class="form-control w-full max-w-xs mt-2">
            <input type="file" class="file-input file-input-bordered text-base-content w-full max-w-xs" />
            <div class="label">
              <span class="label-text badge badge-outline">Attach Optional Screenshot</span>
            </div>
          </label>
          <div class="modal-action">
            <form method="submit-feedback">
              <button class="btn btn-wide btn-primary text-white">Submit</button> <!-- TODO: Create a Post request to get feedback from form-->
            </form>
          </div>
        </div>
      </div>
    </dialog>

    <!-- Include the footer -->
    <footer class="footer items-center p-4 bg-primary text-neutral-content">
      <aside class="items-center grid-flow-col">
        <svg width="36" height="36" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" class="fill-current"><path d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z"></path></svg>
        <p>University of Glasgow - Copyright© 2024</p>
      </aside>
    </footer>

  </body>

<script>
  // Go to Top button
  var toTopButton = document.getElementById("to-top-button");

  // When the user scrolls down 200px from the top of the document, show the button
  window.onscroll = function () {
      if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
          toTopButton.classList.remove("hidden");
      } else {
          toTopButton.classList.add("hidden");
      }
  }

  // When the user clicks on the button, smoothy scroll to the top of the document
  function goToTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
  }
</script>
</html>
